*{
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.nav-links{
    display: flex;
    gap:15px;
}
ul{
    list-style: none;
}
.header-content{
    display: flex;
}
img{
    width: 20%;
}
.header-picture{
    width: 50%;
}
.second-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}